
body {
    /*background-image: url('../../assets/bg.jpg');*/
}
html, body {
    width:100%; height: 100%;
    margin: 0; padding: 0;
}

/*.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

.bg {
    margin: 0; padding: 0;
    
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    min-width: 656px;
    width: 100%;
    height: 100%;

    z-index: 1;
    opacity: 0.2;

    display: block;
    position: fixed;
    left: 0;
    top: 0;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}